<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>
    <form action="/pag" method="GET"  >
        <div class="log">LOGIN</div>
        <label for="user" class="lab_user">User</label> 
        <input id="user" type="text" name="user" class="user" required >
        <label for="password" class="lab_password" >Password</label>
        <input id="password" type="password" name="pasw" class="password" required>
        <a href="regist" class="link">Registrarse aqui</a>
        <!-- <button class="into">Entrar</button> -->
        <button type="submit" class=" ">Entrar</button>
    </form>
<img src="../img/foto.png" alt="" class="foto">
    

    <script src="../js/jquery-3.5.1.min.js"></script>
    <script src="../js/axios.min.js"></script>
    <script src="../js/index.js"></script>
</body>
</html>